%div{style: "background-color: #F2F2F2; padding-top: 20px;"}
  %div{style: "background-color: #F2F2F2; margin: 0px 20px 0px 20px; padding-bottom: 20px; margin-bottom: 50px;"}
    %h2{style: "color: #337AB7;padding: 20px 0 30px 20px;"} Your Portfolio Contact Box
    %p{style: "padding: 0px 40px 0px 20px;"}
      Someone sent you a message from your Portfolio.
    %p{style: "padding: 0px 40px 0px 20px;"}
      Name: #{@message.name}
    %p{style: "padding: 0px 40px 0px 20px;"}
      email: #{@message.email}

  .footer
    %p{style:"font-size: 12px;text-align: center; padding: 20px 0 10px 0;"}
      %span{style: "color:#337AB7"} An Le | San Jose, CA